
.search-card-container{
 padding:100px 70px;
}

.search-card{
 padding:30px;
 display: flex;
 max-width: 400px;
 background-color: floralwhite;
 flex-direction:column;
border-radius: 10px;
box-shadow:2px 2px 10px grey;
justify-content: space-between;

}

.search-card-title{
font-family: cursive;
font-size:29px;
font-weight:900;
}

.form-group{
 max-width: 100%;
 padding: 10px;
 font-size:18px;
 font-family: cursive;
margin-top: 10px; 
}

.form-group>input,
.form-group>select{
 width: 100%;
 padding:10px;
 font-size:14px;
font-family: cursive;
border-radius:5px;
}
.form-group>.search-label
{
 margin-bottom: 5px;
 font-size:25px;
 font-weight:600;
}

.search-btn{
 padding:10px 20px;
 border-radius: 5px;
 background:coral;
 color:ghostwhite;
 font-weight:500;
 font-size:22px;
}